@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 11fr;
  grid-template-rows: 13fr 3fr;
  background-color: black;
  gap: 3px;
  padding: 3px;
  box-sizing: border-box;
}

h1 {
  font-size: 12px;
  margin-bottom: 48px;
}

img {
  height: 100%;
  width: 100%;
}

header {
  grid-row: 1 / span 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0px;
  min-height: 0px;
  transition: opacity 0.125s ease-in;

  &:hover {
    opacity: 0.95;
  }

  section:first-child {
    > div {
      padding: 12px;
      overflow: hidden;

      h2 {
        font-size: 26px;
      }
    }

    nav {
      cursor: pointer;
      margin-top: 6px;

      div {
        height: 28px;
        border-bottom: solid black 1px;
        box-sizing: border-box;
        font-size: 12px;
        display: flex;
        align-items: center;
        padding-left: 12px;
        transition: background-color 0.125s ease-in;
        overflow: hidden;
        background-color: white;

        &:first-child {
          border-top: solid black 1px;
          background-color: #eeeeee;
        }

        &:hover {
          background-color: gainsboro;
        }
      }

      div:first-child:hover {
        background-color: gainsboro;
      }
    }
  }

  section:last-child {
    height: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    overflow: hidden;

    h3 {
      font-size: 13px;
      font-weight: bold;
      margin: 24px 0px 6px 0px;
    }

    span {
      font-size: 13px;
      margin-bottom: 6px;

      &:last-child {
        margin: 24px 0px 0px 0px;
        cursor: pointer;
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 3px;
  min-height: 0px;

  section:first-child {
    background-color: white;
    padding: 12px 24px 0px 12px;
    overflow: hidden;
    transition: opacity 0.125s ease-in;

    &:hover {
      opacity: 0.95;
    }

    h2 {
      font-size: 32px;
      max-width: 160px;
    }

    span {
      font-size: 14px;
      display: block;
      margin-top: 20px;
    }
  }

  section:last-child {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr 1fr 2fr;
    gap: 3px;
    overflow: hidden;

    div {
      overflow: hidden;
      transition: opacity 0.125s ease-in;

      &:hover {
        opacity: 0.9;
      }

      &:first-child {
        grid-row: span 4;
      }

      &:nth-child(2) {
        grid-column: span 3;
      }

      &:nth-child(3) {
        grid-column: span 2;
        grid-row: span 2;
      }

      &:last-child {
        grid-column: span 2;
      }
    }
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 3px;
  min-height: 0px;

  section:first-child {
    background-color: white;
    padding: 12px;
    overflow: hidden;
    transition: opacity 0.125s ease-in;

    &:hover {
      opacity: 0.95;
    }

    h2 {
      font-size: 24px;
      max-width: 176px;
    }

    span {
      font-size: 14px;
      display: block;
      margin-top: 20px;
    }
  }

  section:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
    overflow: hidden;

    div {
      overflow: hidden;
      transition: opacity 0.125s ease-in;

      &:hover {
        opacity: 0.9;
      }

      &:first-child,
      &:nth-child(3) {
        grid-row: span 2;
      }
    }
  }
}
