@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color: #f6f6f6;
  padding: 50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 770px;
  margin: 0 auto;
  color: #212121;
}

.page {
  background-color: #f6f6f6;
  box-shadow: white -15px -5px 15px, gainsboro 40px 10px 20px;
  padding: 50px;
  cursor: default;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  font-size: 128px;
  font-weight: bold;
  margin: -8px;
}

h3 {
  font-size: 48px;
  font-weight: bold;
  margin: -3px;
}

.line {
  height: 2px;
  background-color: #212121;
  margin: 20px 0px 20px 0px;
}

main {
  display: flex;
  justify-content: space-between;
}

main div {
  display: flex;
  flex-direction: column;
  height: 100px;
  flex-wrap: wrap;
}

h4,
span,
a {
  text-transform: uppercase;
  font-size: 12px;
}

h4,
span {
  width: 160px;
  margin-bottom: 2px;
}

h4,
a {
  font-weight: bold;
}

a {
  color: #212121;
  text-decoration: none;
  height: 12px;
}

section:first-child {
  margin-bottom: 100px;
}

section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 680px;
}

.color {
  display: flex;
  justify-content: space-between;
}

.color div {
  height: 210px;
  width: 210px;
  border-radius: 50%;
}

.color:first-child div {
  background-color: #bbe1f0;
}

.color:nth-child(2) div {
  background-color: #616365;
}

.color:last-child div {
  background-color: #03a464;
}
